[2015-06-28 18:46] DragonBe opened #12 "[Insight] Boolean should be compared strictly - in src/Vies/Vies.php, line 189"
**[in src/Vies/Vies.php, line 189](https://github.com/DragonBe/vies/blob/b82a473c13d45ae634d4490739a5092d697989cd/src/Vies/Vies.php#L189)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/21b019ce-dd1d-4d16-8b74-880b9ee5e795/analyses/27)_

[2015-06-28 18:51] DragonBe opened #13 "[Insight] Usage of a function in loops should be avoided - in src/Vies/Validator.php, line 445"
**[in src/Vies/Validator.php, line 445](https://github.com/DragonBe/vies/blob/b82a473c13d45ae634d4490739a5092d697989cd/src/Vies/Validator.php#L445)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/21b019ce-dd1d-4d16-8b74-880b9ee5e795/analyses/27)_

[2015-06-28 19:29] krzaczek commented on #13
fixed in #11

[2015-06-28 19:29] krzaczek commented on #12
fixed in #11

[2015-07-01 07:39] jonathanmaron opened #14 "Uncaught SoapFault exceptions"
On iterating through a long list (ca. 2,000 items) of VAT numbers, validating each, I have received all the following uncaught SoapFault exceptions.

PHP Fatal error:  Uncaught SoapFault exception: [soap:Server] MS_MAX_CONCURRENT_REQ
in [..]/vies/src/Vies/Vies.php:229

PHP Fatal error:  Uncaught SoapFault exception: [soap:Server] GLOBAL_MAX_CONCURRENT_REQ
in [..]/vies/src/Vies/Vies.php:229

PHP Fa

[2015-07-01 07:45] jonathanmaron opened #15 "Two uncaught SoapFault exception"
On iterating through a long list (ca. 2,000 items) of VAT numbers, validating each, I have received both these uncaught SoapFault exceptions.

PHP Fatal error:  Uncaught SoapFault exception: [soap:Server] MS_MAX_CONCURRENT_REQ in [..]/vies/src/Vies/Vies.php:229

PHP Fatal error:  Uncaught SoapFault exception: [soap:Server] MS_UNAVAILABLE        in [..]/vies/src/Vies/Vies.php:229

[2015-07-01 07:45] #15 closed

[2015-07-01 07:46] jonathanmaron opened #16 "Add cache, to save traffic to VIES service and improve performance"
There are applications in which a VAT number may need to be checked more than once per day (customer makes multiple purchases in short period of time).

Do you think it would make sense to add a cache in order to reduce the traffic to the backend service and further improve performance.

A TTL of 1 day as default would make sense, in my opinion.

What do you think?

[2015-07-01 19:13] #12 closed

[2015-07-01 19:14] #13 closed

[2015-07-01 19:24] DragonBe commented on #14
Thank you for reporting this failure.

Yes, there's a limit on requests you can do on the soap service but it's not documented how many request can be made in what time period.

Let me see what I can do about it.

[2015-07-01 19:46] DragonBe commented on #16
Hi @jonathanmaron,

Caching is a good idea, but I don't think it's the goal of this package to provide integrated cache as everyone implements their own cache.

What I suggest is that you within your app implement cache for a TTL of 1 day on the validation response of this VIES service. Example below.

[code]

I hope this makes sense for you. Let me know if it doesn't.

[2015-07-02 15:11] jonathanmaron commented on #16
Thanks for the update. I think that a cache is very important, but you are right, it can be implemented one level higher in the application logic. Thanks for the sample code. :-) Jonathan

[2015-07-02 15:11] #16 closed

[2015-07-02 15:17] jonathanmaron commented on #14
I was actually more concerned that an uncaught *SoapFault* is thrown. Surely, the SoapFault should be caught by DragonBe\Vies\Vies, and a DragonBe\Vies\ViesException should be thrown?

I would have thought it is easier for the end user to try and catch only one specific exception in his/her application logic, than for a DragonBe\Vies\ViesException and a SoapFault.

Or am I the only one who would i

[2015-07-03 14:43] DragonBe opened #17 "Improve quality of VAT validation"
According to a colleague who works a lot with VAT, the following things need to be considered:
- VAT number + Registered Company name give better validation result
- VAT numbers in Spain require also company address for full validation
- VAT number validation + Company details returned by some countries

[2015-07-06 21:57] DragonBe commented on #14
@jonathanmaron You're absolutely right. Well, the issue is created and marked as bug. If I can free up some time, I will fix it in the upcoming days.

[2015-07-07 12:29] jonathanmaron commented on #14
Fixed at https://github.com/DragonBe/vies/pull/18

[2015-07-07 13:11] jonathanmaron commented on #17
We have implemented B2B commence systems, were we do not charge VAT, if a valid VAT number is entered during the purchase process.

In this case, a "valid VAT number" is not only a VAT number that VIES says is valid, but in addition one that belongs to the company placing the order (the "buyer").

We have had cases where fraudsters enter a valid VAT number (according to VIES), but it does not belo

[2015-07-08 08:26] jonathanmaron commented on #14
To differentiate between exceptions caused by local code, and those from the back-end service VIES, it make sense to have two exceptions. The new example "examples/checkVatBatch.php" shows why this is important.

[2015-07-08 08:38] DragonBe commented on #17
Funny you mention "reliable" in there, as I believe there's no such thing as reliable validation. But we can come very close to something that covers most cases.

[2015-07-08 08:47] DragonBe commented on #17
From my colleage:

[2015-07-08 08:49] #14 closed

[2015-07-08 09:04] jonathanmaron commented on #17
I am not an accountant, but according to what I have learned from our (very precise) company accountant over the years, what your colleague has written is accurate.

The final part of your colleague's email is new to me:

*"[..] need to validate if the person you are selling to [..] actually work[s] for the company he says he [..] work[s] for"*

Good luck implementing that in program code! :-)

Ba

[2015-07-27 19:01] DragonBe commented on #17
Hey @jonathanmaron, I've been digging into the whole VAT regulation and the big challenge is that for the 27 countries in the EU, there are also 27 different VAT regulations and validation rules which makes it all a very complex to wrap in a "simple" tool to validate VAT numbers.

In regards to your statement above I was looking into PHP functions [soundex()](http://php.net/soundex), [metaphone()]

[2015-07-29 10:34] jonathanmaron opened #21 "Improve quality of VAT validation -- companyCountryCode"
Before we know whether to ask a customer for a VATIN, we have to first find out in which country his or her company is registered. If this country code is one of the 28 EU member states, then we should ask the customer for a VATIN in a B2B application.

Therefore, we know to which member state a VATIN should belong. For example, a German company (countryCode: DE), must enter a VATIN starting with

[2016-09-01 13:44] DragonBe commented on #21
Hey @jonathanmaron,

There's a bit of more complexity than just meets the eye, if you really want to apply it for a B2B approach. As a company in the EU we can optain VAT registrations in more countries than just our own. Example is [https://www.phpbenelux.eu](PHPBenelux): registered in the NL but with a NL and a BE VAT identification number.

If I follow your train of thoughts I can check if NL (

[2016-10-03 12:07] mclemme opened #22 "Irish VAT numbers can be 8 OR 9 characters"
VAT numbers from Ireland (IE) can be [9 characters long](https://www.meridianglobalservices.com/blog/2013/01/01/New-tax-number-format-Ireland) - but the ValidatorIE class expects a length of 8.

[code]

Which makes 9 character valid Irish VAT numbers fail a validation.

I've forked the repo and will look into fixing this and making a pull request once it's working.

EDIT: Another source for the [8

[2016-12-06 12:32] kcalliauw opened #23 "pcntl required but unused"
Hey,

I'm wondering why you are requiring the PCNTL extension to be installed, since, as far as I can see, it is not used in the code. This makes it so that I cannot use the package on my Windows development machine.

Cheers,
Koen

[2016-12-08 21:32] DragonBe commented on #22
I'm sorry @mclemme, it has been really busy lately and I haven't had time to read your concern.

So, the length is now 8 or 9, right? Let me see if I can fix it.

Thank you for the heads-up and again my sincere apologies for ignoring your feedback this long, it is very much appreciated.

[2016-12-08 21:40] DragonBe commented on #22
Hey @mclemme,

The link you provided states:

But the official [EC VIES documentation](http://ec.europa.eu/taxation_customs/vies/faqvies.do#item16) is mentioning only two of the three structures.

What I'm going to do is to implement the official structures mentioned on the EC VIES documentation. I think that the documentation reflects the accepted values on their service.

[2016-12-09 07:31] krzaczek commented on #22
@DragonBe

This is the official info about the change http://www.revenue.ie/en/practitioner/ebrief/archive/2013/no-032013.html

I'll try to implement it till the end of the week

[2017-02-24 18:03] #23 closed

[2017-02-24 18:24] #22 closed

[2017-05-25 13:33] #21 closed

[2017-05-25 13:34] DragonBe commented on #17
I never got any feedback on this so I'm closing this issue

[2017-05-25 13:34] #17 closed

[2017-08-17 15:51] jakejanson opened #30 "Czech VAT IDs may be longer than 8 digits"
Hello. According to the source code of the class `DragonBe\Vies\Validator\ValidatorCZ`, a Czech VAT ID must be 8 digits long, but thatʼs wrong. Our law states that a VAT ID consists of the prefix “CZ” and one of the following:

* for individiuals: their personal identification number, or other general identificator if specified by a special law
* for companies and other legal entities: their taxpa

[2017-08-17 16:13] krzaczek commented on #30
Hi,

That is true:
'CZ'+8-10 digits
Source: https://en.m.wikipedia.org/wiki/VAT_identification_number

I need to find a checksum algo for 9 and 10 digits to be able to implement it.

pawel (at) mobile

[2017-08-17 16:18] krzaczek commented on #30
Found it: http://85.81.229.78/systems/DKVIES/-%20Arkiv/Algoritme%E6ndringer/VIES-VAT%20Validation%20Routines-v15.0.doc

pawel (at) mobile

[2017-08-17 17:05] DragonBe commented on #30
On the EU VIES FAQ pages I found a [link](http://www.financnisprava.cz/cs/mezinarodni-spoluprace/mezinarodni-spoluprace-a-dph/dph-v-eu/overovani-dic-vat-id) to more information, unfortunately Google makes a bit of a mess out of it. But maybe it will make more sense to all of you.

The document you provided offers the same as what's being implemented: 8-10 numeric values. Can you offer me a unit te

[2017-08-17 17:17] krzaczek commented on #30
At this moment the library only supports 8 digit numbers (https://github.com/DragonBe/vies/blob/master/src/Vies/Validator/ValidatorCZ.php#L44)

I will implement 9 and 10 digit numbers .. maybe tomorrow or next week.

[2017-08-17 17:24] krzaczek commented on #30
For example CZ7103192745 - this is a valid VAT number and it's successfully validated by VIES - but the library will return false since it's longer than 8 digits

[2017-08-18 12:43] krzaczek commented on #30
@DragonBe I have created a patch for version 1.0.x. Can You create a 1.0 branch from tag 1.0.6 - I'll send a pull request. I'll try to create a PHP 7.1 patch during the weekend.

https://github.com/krzaczek/vies/tree/1.0

[2017-08-18 14:45] DragonBe commented on #30
crap, should have used the command line… merged into master 🤦‍♂️

Reverting changes and merging it into 1.0 branch… hang on

[2017-08-18 14:53] #30 closed

[2017-08-18 15:11] DragonBe commented on #30
Fixed my sleepy PR acceptance, all is good to go.

![screen shot 2017-08-18 at 17 09 27](https://user-images.githubusercontent.com/282825/29465048-25b39d02-8438-11e7-967f-be7671d31fa5.png)

Will tag it as 1.0.7 and forward your changes on 2.0 branch

[2017-08-18 15:27] DragonBe commented on #30
Ok, tagged 1.0.7 and 2.0.1 with updated CZ validation rules. Thank you @jakejanson for reporting the issue and @krzaczek to come up quickly with an update. You both are heroes in my book, thanks a bunch! 🙇

[2017-08-18 23:06] jakejanson commented on #30
@krzaczek wow, that was fast. Thank you!
@DragonBe this was my first OSS bug report, I hope I did well 😅 Anyway, thanks for this amazing library!

[2017-08-19 15:02] DragonBe commented on #30
@jakejanson you're welcome, glad you like this library.

[2017-09-12 13:57] maffpool opened #34 "Invalid sum validation for BG number"
Hello

ValidatorBG does not validate this number `BG204514061` which is vaidated by http://ec.europa.eu/taxation_customs/vies/vatRequest.html

[2017-09-12 14:21] DragonBe commented on #34
Hey @maffpool, thanks for reporting this issue. I'm currently busy, but let me see if I can find some time this week to look into what caused the failure to validate and fix the issue.

I see it got validated through the original VIES service, so I assume there's a validation rule that's not working correctly. Should be easy to fix.

[2017-09-12 15:02] maffpool commented on #34
Thanks @DragonBe for answering so quickly !

If you tell me where you find official information about checksums, maybe I could dig into this issue and submit a PR !?

[2017-09-12 16:21] DragonBe commented on #34
Hey @maffpool,

We're basing the structure of a VAT ID on the documentation provided in the [FAQ of the official VIES service website](http://ec.europa.eu/taxation_customs/vies/faq.html#item_7), but we have seen it's not always accurate or up-to-date.

Having users across the EU using this package will expose those undocumented changes (like you have reported), so we can just add it to our testcas

[2017-11-02 09:30] michalsingr opened #37 "Wrong property name"
the correct property name should be `name`

https://github.com/DragonBe/vies/blob/c367d119bac21d921a9f5f06e479f82f4183ce6c/src/Vies/CheckVatResponse.php#L243

The same problem is below - `address` instead of `traderAddress` and `identifier` instead of `requestIdentifier`

[2017-11-02 09:33] michalsingr commented on #37
nope, my bad

[2017-11-02 09:33] #37 closed

[2017-11-06 10:21] michalsingr opened #38 "Invalid VAT number doesn't mean that it's not real ;-)"
https://github.com/DragonBe/vies/blob/c367d119bac21d921a9f5f06e479f82f4183ce6c/src/Vies/Vies.php#L222

This condition might be tricky... As my second test I've tried VAT `CZ27082440` (the biggest e-shop in our country) which was evaluated by `validateVatSum()` method as invalid but it's existing and can be properly checked via VIES website.

I understand that the purpose of this is probably reduci

[2017-11-06 10:52] krzaczek commented on #38
@michalsingr Just pushed a patch to fix this issue. Maybe it's a good idea to add a switch that would allow to disable check-sum checking and relay 100% on the VIES API.

@DragonBe

[2017-11-08 13:25] #38 closed

[2018-01-10 15:54] hvanoch opened #41 "validateVatSum method falsly returns false for spanish VAT number"
Vat number ESX5910266W is valide according to the VIES service. But the validateVatSum method returns false.

[2018-01-10 18:25] DragonBe commented on #41
@hvanoch Thank you for reporting this issue.

Unfortunately I don't have much free time to spend on this issue, but I will try to look into this in the next 2 weeks.

[2018-01-10 18:34] krzaczek commented on #41
I can look at it tommorow

pawel (at) mobile

[2018-01-10 18:47] DragonBe commented on #41
@krzaczek That would be so awesome! Thank you!

[2018-01-10 19:32] krzaczek commented on #41
Found some free time in between other tasks 👍

[2018-01-11 13:07] mikeSimonson opened #43 "deal with the webservice down"
Hi,

I was wondering if there was any general guideline on the behavior to adopt when the service is down (which happens quite regularly) ?
Or is it a matter of it depends per application.

Thanks

[2018-01-11 14:20] DragonBe commented on #43
Hi @mikeSimonson,

Our workflow is to add VAT ID's into a queue that's been picked up by a worker that checks for a heartbeat before processing. If there's no pulse, it waits for 30 minutes and tries again. If there's a pulse it validate the VAT ID from the queue.

I hope this gives you a pointer how to deal with the service. Yes, I know it's not a reliable service, but with the heartbeat we can m

[2018-01-11 14:26] DragonBe commented on #41
Awesome work @krzaczek for your "some free time". Thank you so much for making this tool so much better.

[2018-01-11 14:29] #41 closed

[2018-01-11 14:34] mikeSimonson commented on #43
Thanks

[2018-04-16 09:29] krzaczek commented on #43
@marcwales

Well sure .. If You look at the code . . the `validateVat` function calls `validateVatSum` here https://github.com/DragonBe/vies/blob/master/src/Vies/Vies.php#L242. Instead of calling ValidateVat that checks the number and if its valid (sum) it call the api endpoint You could just call `validateVatSum` to check it offline (length, check-sum).

[2018-04-16 09:45] marcwales commented on #43
Hi krzaczek,

Thank you for your fast reply ;) I'll try to change the code on this module, see if it works. But now that i'm looking at the code, i think it would be easier to change it directly on the native magento VAT module. Just blocking the VIES europe server check or add a fallback to the vatlayer server ( https://vatlayer.com/).

Regards,
Marc

[2018-04-16 09:54] DragonBe commented on #43
Hey @marcwales,

You can also use the "HeartBeat" functionality to verify if the service is online and active, as described in the main example in the `README.md`.

The way we do it is to have a worker listening to incoming VAT ID's from a queue system (Gearman, RabbitMQ, ZeroMQ, …), checks if the service is operational using the heartbeat functionality and if it is, processes the queue. If not it

[2018-04-16 13:31] DragonBe commented on #43
Sorry, but during lunch I whipped up this small Proof-of-Concept to process VAT ID's asynchronously. It's rough code and should not be used as-is in production, but it should give you a good idea how to offload the VAT validation process in an asynchronous way.

Please see https://github.com/DragonBe/vies/tree/master/examples/async_processing for details.

[2018-04-17 14:30] marcwales commented on #43
Hi DragonBe,

Thanks your for your fast response also ;) I'm not used to get this quick help on a forum. I'll test this week both solution in order to see which one is the best for the checkout process. I'll try to add the vatlayer api because it looks pretty good on their website.

Regards,
Sidney

[2018-04-23 13:42] DragonBe commented on #43
Hey @marcwales, I hope that now things are working out for you. If you have any feedback for us how we can improve the service, please let us know. The easier we can make this tool for you (and the rest of the world) to use, the better.

[2018-05-20 21:13] DragonBe opened #47 "Update README.md with GDPR statement"
Add a section in the README documentation covering GDPR

[2018-10-22 08:28] DragonBe opened #53 "Complete list of railway companies within the EU"
In the `examples/` directory, I've made an example testcase for validating VAT ID's for a couple of European railway companies in [EURailwayVATChecker.php](/DragonBe/vies/blob/master/examples/EURailwayVATChecker.php).

It would be nice if this list could be completed so we have a example company VAT ID's for all EU member states so people could see the responses returned by the EU VIES service. It

[2018-10-25 12:32] krzaczek opened #54 "SI Validator bug"
The following tax number is false:SI95796550
This is valid on online validation.

[2018-10-25 13:05] krzaczek commented on #53
PKP POLSKIE LINIE KOLEJOWE S.A.

Address
Targowa 74, 03-734 Warszawa
VAT:PL1132316427

[2018-10-25 15:29] #54 closed

[2018-11-13 13:03] johanwilfer opened #57 "Grece is using custom country code EL instead of the international code GR"
The two-letter country code for Greece is GR, but in VAT id's in Europe Greece uses the EL-prefix instead.

https://en.wikipedia.org/wiki/ISO_3166-2:GR

In our code we used this list to compare to the international country codes and because GR != EL this obviously failed: https://github.com/DragonBe/vies/blob/master/src/Vies/Vies.php#L63

We will now take the list from listEuropeanCountries and ma

[2018-11-13 14:11] DragonBe commented on #57
Thank you @johanwilfer for mentioning this. We have noticed the difference in the VAT prefix and the international country code, but as all things from the European Commission, exceptions on the rule must exist.

I agree that this exception should be documented in the code to make it clear for developers and integrators why this exception exists, maybe even add this as a separate remark in the `RE

[2018-11-13 14:12] #57 closed

[2018-11-13 14:16] johanwilfer commented on #57
Yes, the validation works great. I just tested this also.
The problem for us was that we use the list in the mentioned method to show/hide the VAT inputs, so we didn't even ask for it for Greek customers as there was no country "EL" selected...

Thanks for updating the README about this. :-)

[2018-11-13 14:32] DragonBe commented on #57
@johanwilfer You're very welcome. Only with this kind of feedback I can make the information more meaningful for users, especially when you're not engaging with VAT related things on a regular basis. The more I receive this type of _not expected_ behaviour, the better use cases I can come up with and more accurate we can make our pre-validation before we fire things of to the EC VIES service.

[2018-12-11 11:29] gasperkol opened #60 "Warning: Use of undefined constant SOAP_1_2 - assumed 'SOAP_1_2' (this will throw an Error in a future version of PHP)"
Hi,

I've noticed this warning so I wondered if you can give this SOAP version in construct parameter of Vies class? or something like that that we can change version before the warning.

PHP version: 7.2.6

Thanks!

[2018-12-11 11:52] DragonBe commented on #60
Hey @gasperkol,

I'll look into this immediately! Should not require a lots of time to fix.

[2018-12-11 12:21] DragonBe commented on #60
OK @gasperkol , it looks I need some additional information here as the constant `SOAP_1_1` and `SOAP_1_2` are not giving me any errors or warnings.

[code]

Also the [SoapClient documentation](https://secure.php.net/manual/en/soapclient.soapclient.php) is not giving any hints that these constants will be removed any time soon.

That aside, if this issue is keep giving you warnings, we already pro

[2018-12-11 12:31] gasperkol commented on #60
Thanks for so quick reply!

Sorry for incomplete information.
So I've been using Symfony 3 and as I noticed now this is "Context check" from Symfony.

`Uncaught PHP Exception Symfony\Component\Debug\Exception\ContextErrorException: "Warning: Use of undefined constant SOAP_1_2 - assumed 'SOAP_1_2' (this will throw an Error in a future version of PHP)"`

So this warning still shows up because this v

[2018-12-11 14:03] DragonBe commented on #60
@gasperkol which version of this Vies package are you using?

[2018-12-11 16:40] DragonBe commented on #60
@gasperkol OK, I was able to reproduce the warning even though I am not sure where we used the constant SOAP_1_2… but I'll figure it out! 😸

[code]

When executing it with `php /tmp/test.php` I got the warning.

[code]

Interesting note: it only throws this warning for version 2, not for 1… not sure why 🤔

[2018-12-11 19:38] gasperkol commented on #60
@DragonBe I use version 1.0.1.

If I understand correctly this warning is thrown when some global constant is not set and its become string....
So if you find this SOAP_1_2 constant (and I know you will 😸) where you use it then you can check why is not set.

** Sory to bother with this warning but in Symfony is annoying when you have warning in DEV ENV 😉

[2018-12-11 20:04] DragonBe commented on #60
Very strange situation which I need to investigate further, but once I've instantiated SoapClient with a specific version, the error I was able to reproduce was no longer there. I assume that somewhere it became defined (this is what I need to investigate 🧐further).

@gasperkol can I ask something of you? I have a branch where the unit tests are digging deeper into this subject (see https://github

[2018-12-12 06:08] gasperkol commented on #60
@DragonBe Now I played with my code and settings and I noticed that only in Vies version 1.0.1 this warning shows up. In any others versions everything is ok.

And this version where you added this tests works without warning 😄 ..

And test result:
<img width="511" alt="screen shot 2018-12-12 at 07 05 48" src="https://user-images.githubusercontent.com/26095407/49850056-79080000-fddc-11e8-8204-10c3

[2018-12-12 07:13] DragonBe commented on #60
OK, thank you for your feedback @gasperkol. Let me know if you were able to upgrade and if those warnings no longer appear.

To be on the safe side, I will include those additional tests in the code base in case future versions of PHP might break things.

For your reference, I'm running this package on PHP 7.3.0 and it works like a charm 🌟

[2018-12-12 08:13] DragonBe commented on #60
@gasperkol you're very welcome. Thank you for reporting it, this way I learn about the things I don't know and makes me wiser along the way.

Have a nice day 😄

[2018-12-12 08:13] #60 closed

[2019-01-11 13:39] mato61 commented on #34
Hi, I have problem with VAT ID BG8311046307. I use version 2.1.5. This VAT ID is validated by http://ec.europa.eu/taxation_customs/vies/vatRequest.html

Thanks

[2019-01-13 12:32] DragonBe commented on #34
Hey @mato61,

Thank you for reporting this issue. I've validated the issue through our unit tests and reopened the issue to fix it.

[code]

I won't be able to do any work on it until the beginning of February because of a full agenda. Maybe @krzaczek can have a look at it in the mean time? If not, I will look at this in February.

[2019-01-13 14:19] DragonBe commented on #34
@mato61 I looked at it and the solution seemed simple enough to fix quickly so I did. I'll be releasing 2.1.6 now.

[2019-01-13 14:19] #34 closed

[2019-02-08 17:44] MPablo opened #64 "Cant use VIES test service"
Due to that the validator built in for each country and that you cant set a flag to bypass it for tests then you cant use the VIES test-service:
http://ec.europa.eu/taxation_customs/vies/technicalInformation.html
as they use short numbers for test like 100, 200 etc

[2019-02-08 18:24] DragonBe commented on #64
Hey MPablo,

Thank you for reporting this issue. Since we have implemented a full set of tests within the code logic we haven't provided the feature to execute test requests on the VIES service itself.

I'm currently a bit busy so I can't provide a functionality to run tests on the VIES service within the next few weeks, but I will surely add it as it's easy to implement.

I hope that even though

[2019-05-24 11:02] juretopolak opened #66 "False response data"
I have noticed incorrect validations. Look at the example below. Same VAT number with different results:

- Yes, valid VAT number **(correct on VIES website)**
- ["valid":protected]=>bool(false) (incorrect response $vatResult->isValid())

Am I missing something?

http://ec.europa.eu/taxation_customs/vies/vatResponse.html

Yes, **valid VAT number**
Member State | SI |  
VAT Number | SI 21825831
Dat

[2019-05-24 11:15] DragonBe commented on #66
Hello @juretopolak,

Thank you for reporting this issue. I will investigate this next week since I'm traveling for work at the moment.

[2019-05-24 11:35] krzaczek commented on #66
@juretopolak which version of the library and PHP are You using ?. I did a quick test and the results are as follow

[code]

[2019-05-24 12:15] juretopolak commented on #66
@krzaczek thank you for pointing me in the right direction... it was indeed a problem with library version. My version was 1.0 xD

I have installed it with "composer install dragonbe/vies" and didn't define a version... thought that if no version is specified the last one is used. Didn't even look in the composer.json.

After defining the last version (2.1.6) and updating everything is working as

[2019-05-29 12:07] DragonBe commented on #66
Hey @juretopolak,

Glad everything sorted out for you. A huge thanks to @krzaczek for analysing the issues and pointing towards the solution so quickly. Great job 👍

One thing though: I checked myself using `composer install dragonbe/vies` and I got the following error message back from composer

[code]

And when using `composer require dragonbe/vies` it installs the latest 2.1.6 version by defaul

[2019-05-29 12:12] krzaczek commented on #66
I would say it has to do with PHP version used to run composer.

PHP 5.3 would install `1.0.1`
PHP 5.4 - 5.6 would install `1.0.6`
PHP >=7 would install `2.x`

[2019-05-29 12:26] juretopolak commented on #66
You are both right.

If I go through the history... it was like this.

`composer install dragonbe/vies`

This returned error message, just like you explained.

composer require dragonbe/vies

This installed version 1.0.0. I guess because the composer was executed with PHP 5.6 which is default CLI version on the system.

After I found out that version 1.0.0. was installed, I have changed the versio

[2019-06-10 11:59] #66 closed

[2019-07-23 13:14] willemstuursma opened #67 "Italian validator assumes numeric input"
We got a nice error:

[code]
Note that the number was invalid to start with, but a `ctype_digit` check would have prevented an error from being triggered. It tries to do some math calculation on a non-digit.

[2019-08-16 10:09] willemstuursma commented on #67
Same with the `ValidatorHR` class.

[2019-08-19 22:14] DragonBe commented on #67
Hi @willemstuursma, my apologies for my delayed response.

I was able to fix the reported in PR #68 and have release 2.1.7 ready for you to use. Please update your composer package.

[2019-08-19 22:14] #67 closed

[2019-08-21 12:54] willemstuursma commented on #67
No problem! Thank you for resolving!

[2019-08-31 14:16] cottton opened #70 "Response requestDate wrong"
Soap response:

    'requestDate' => '2019-08-31+02:00',

means you got `Y-m-dP`

    P
    Difference to Greenwich time (GMT) with colon between hours and minutes (added in PHP 5.1.3)
    Example: +02:00

see https://www.php.net/manual/de/function.date.php

You are currenty using `Y-m-d\+H:i` which set it to 2am always :)

**So in example:**
response:
`'requestDate' => '2019-08-31+02:00',`

curre

[2019-08-31 14:51] DragonBe commented on #70
Yes, the time issue has been a pain since the beginning, but I never got around to fix it. Thank you for tackling it.

Would you also run the unit tests as well and see how this change impacts current logic?

[2019-08-31 14:57] cottton commented on #70
PR: https://github.com/DragonBe/vies/pull/72 (remove old)
PR: https://github.com/DragonBe/vies/pull/73 (add new way to set date)

[2019-08-31 15:02] DragonBe commented on #70
Thank you for the PR.

I’m not at home at the moment so I can’t merge it in just yet. I will have time for it tonight.

[2019-09-01 20:06] DragonBe commented on #70
Yesterday I was not able to have a look at it, today I did but ran into some issues regarding our tests. I've fixed the issues and got everything merged in.

Again, thank you for your contribution 👍

[2019-09-01 20:06] #70 closed

[2019-09-09 14:57] timo002 opened #76 "Validating Belgium VAT numbers without leading zero"
When validating a Belgium VAT number, they should start with a zero (after the country code). The ValidatorBE class fixes this nicely when it validates the number. If the number is 9 chararacters long, it will be prefixed with a zero.

The function validateVatSum then returns true and the VAT number is processed to the VIES service through a SOAP call. But the VAT number send to VIES is without th

[2019-09-09 15:57] cottton commented on #76
See https://github.com/DragonBe/vies/blob/master/src/Vies/Validator/ValidatorBE.php#L37

IMO a validator should validate.
If a validator manipulates the value (VAT) f.e. via reference
then this could bring unexpected results.

Perhaps a ValidatorException would work.
In this case the message could be "Missing leading zero on BE VAT number." or something like that.

Or, the keep it easy, return fal

[2019-09-09 19:32] timo002 commented on #76
Well, a Belgium VAT number without a leading zero isn't valid. So actually the ValidatorBE should not add the leading zero. But if it does, then that should also be used when the VAT number is send to the VIES service.

So in my opinion, add it, or not. But if it is added, also in the VIES service. Otherwise the Validator says it is ok, and the VIES always will reply false.

[2019-09-14 19:40] DragonBe commented on #76
I've looked at our solution and I'm agreeing with both of you. Yes, we're adding a leading 0 if the amount of numbers equals to 9 which should not occur.

I also agree that older VAT ID's in Belgium with only 9 numbers (and not having a leading 0) are valid and should be validated by the backend VIES service provided by the European Commission.

So I searched for some public Belgian VAT ID's with

[2019-09-16 08:23] timo002 commented on #76
I think that you should not add the leading zero in the validator. If someone forgets the leading zero, it is a wrong VAT code. Even if a user forgets it by mistake, it is still a wrong VAT code. I see it this way, if the user can omit the zero and the validator puts it in front of it. Then the user could also omit the last checksum, the validator could also calculate it.

In my case, I will prefi

[2019-09-16 16:30] cottton commented on #76
First: how do we get updated vatNumber to the user:

    // user input
    $countryIso = 'BE';
    $vatNumber = '627515170'; // missing leading zero

    $vies = new DragonBe\Vies\Vies();
    // ::validateVat will prepare the varNumber and adds the missing leading zero internally
    $response = $vies->validateVat($countryIso, $vatNumber);

    // response contains the updated, valid vatNumber

[2019-09-18 14:11] BigOHenry opened #78 "Use option proxy even at HeartBeat"
Hello,
we are using Vies with proxy. Getting data from vies is fine, but HeartBeat does not work.

[code]

[2019-09-28 20:02] DragonBe commented on #76
@cottton, thank you for your PR and I really appreciate the work you have put into the sanitisation of the VAT number. But after giving this some really good thought and talking to several people who deal with VAT a lot more than I do, I have to lean towards the remark @timo002 made: keep the input as it is, if the user omits the leading 0 the validation of this library should fail.

Even though t

[2019-09-28 20:46] DragonBe commented on #78
Hi @BigOHenry,

Thank you for reporting the issue. To be honest, I never thought of using this library through a proxy. So initially I never designed the library to facilitate this functionality.

I've labeled your issue as a feature and will work in the upcoming weeks on it.

[2019-09-29 01:03] cottton commented on #76
No problem =)

Actually the input gets filtered  (`::filterVat`) **but** this seems ok:
_Does it change the input?_  (_Internally_)Yes.
_Does it change the VAT?_ No.

It just changes the **format** - like a datetime string.
So - I think that is the best solution.

[2019-09-29 12:25] DragonBe commented on #76
The goal of this application is to validate the input so this internal change should not happen IMO.

Like I mentioned in https://github.com/DragonBe/vies/issues/76#issuecomment-531507755 when I use the VIES service directly, it rejects Belgian VAT ID's without a leading 0 so should this library also reject it, even if it's easy to correct it.

[2019-09-30 17:46] cottton commented on #76
Thats what i mean too. I agree =)
I just wanted to show that the filter method does **not** change the actual value.

Like a Datetime string.
input: `Mon, 30 Sep 2019 17:43:11 +0000`
internal usage: _(re-format to Y-m-d H:i:s)_ `2019-09-30 17:43:11`

Same value, different format. All fine.
_Adding the leading zero would not be the same value._

[2019-11-04 13:32] BigOHenry commented on #78
Thank you very much :)

[2019-11-05 22:12] krzaczek opened #83 "Checks if the VIES service is online and available"
There seems to be a new endpoint we could use to check if the VIES service is up and running.

I'll will try to implement it.

[2019-11-06 09:25] krzaczek opened #84 "Allow MOSS-registered non-EU companies to be used as requester"
Follow up for https://github.com/DragonBe/vies/pull/82

[2019-11-11 10:26] #84 closed

[2019-11-11 10:30] #76 closed

[2019-11-11 10:40] DragonBe opened #86 "Meaningful constants"
When we first started out creating this service, we only looked at validation of VAT ID's for EU countries and named our constants in such a way that we weren't ready for other validation types.

Now with issue #82 a new type of validation was presented for companies outside of EU that require a VAT ID to perform business within the EU. We have implemented this validation already in PR #85 but the

[2019-11-11 10:44] DragonBe commented on #83
This was also referenced in ticket #64 and what I learned from it was that it's only for testing purposes for client implementations. But you're absolutely right, this is a good addition for checking if the service is up and running. Awesome 👍

[2019-11-11 11:01] Seldaek commented on #86
Moreover, the listEuropeanCountries function should not return 'EU' as a european country code IMO, regardless of what the constant is called.

[2019-11-11 11:05] Seldaek commented on #83
As far as I understand the main problem they have with uptime is that VIES is only an aggregator service, which then dispatches to country-based services depending on the VAT number you are validating. They don't have a centralized database. This means VIES can be "up" but validating a certain number will fail because that country's service is down. This is also shown on http://ec.europa.eu/taxati

[2019-11-11 18:05] krzaczek commented on #86
@Seldaek yes the listEuropeanCountries should not return EU.

We could do this two ways

1) We could leave EU in the list of VIES_EU_COUNTRY_LIST and just update the `listEuropeanCountries` to not return EU as a "country" by simply filtering the return array.
or
2) We could remove EU from `VIES_EU_COUNTRY_LIST` and write a new method to validate requestor prefix (that should return true for all 28

[2019-11-11 18:14] krzaczek commented on #83
@Seldaek I will have to check but since the service requires to send a country code along with the test vatNumbers (100, 200) maybe it actually checks the corresponding country database and not just the VIES service itself.

It should be easy to verify since the technical breaks for different counties are on different time of day. http://ec.europa.eu/taxation_customs/vies/help.html

VIES monitors

[2019-12-17 13:58] Seldaek commented on #86
@krzaczek implemented 1) in #87 - it doesn't fix the const naming issue but at least the public API is now fixed which I hope makes it ready to release.

[2019-12-21 09:15] jellyNoone opened #88 "This is more of a question than an issues - per country validation"
Hi, I was just going through your code and I really like the work you did with the per country pre VIES validation. I was just wondering where did you get the information on the structure of the VAT IDs. If you don't mind sharing

[2019-12-21 09:40] krzaczek commented on #88
Most of the work is based on this document https://github.com/phax/ph-masterdata/blob/master/ph-masterdata/docs/VIES-VAT%20Validation%20Routines-v15.0.pdf

[2019-12-21 09:42] krzaczek commented on #88
and https://ec.europa.eu/taxation_customs/tin/specs/FS-TIN%20Algorithms-Public.docx

[2019-12-21 10:32] jellyNoone commented on #88
Thank you! I wrote them an email asking if such document exists. And they said it didnt.

[2019-12-22 12:39] #88 closed

[2020-01-02 09:42] Smitsel opened #89 "Dutch Sole trader VAT number changed (2020)."
For sole traders in the netherlands the format for VAT number changed.
We've now hotfixed this by removing the checksum check in the ValidatorNL.

I could not find a clear picture of how to checksum check these new VAT numbers yet.

[2020-01-02 09:50] krzaczek commented on #89
@Smitsel Could You provide an example VAT number that validates in VIES and does not pass a checksum test ?

[2020-01-02 09:54] Smitsel commented on #89
Yes, for example: NL000099998B57

Taken from: https://www.belastingdienst.nl/wps/wcm/connect/nl/btw/content/gebruik-vanaf-1-januari-2020-uw-nieuwe-btw-identificatienummer

I can not disclose any real VAT numbers ofcourse.

[2020-01-02 09:59] MollieRick commented on #89
I can disclose my VAT number: **NL002342672B42**

[2020-01-02 10:23] krzaczek commented on #89
@MollieRick thx. Yep Your number validates in VIES but there is no information on the new algorithm to calculate the checksum. I'll try to google a little bit more but i may be easier to look for it in Dutch rather than in English ;)

[2020-01-02 10:30] Smitsel commented on #89
We've looked for it as well, could not find any information about calculating the checksum.
I will try to find a contact with the dutch government.

[2020-01-02 10:36] krzaczek commented on #89
Found it: http://kleineondernemer.nl/index.php/nieuw-btw-identificatienummer-vanaf-1-januari-2020-voor-eenmanszaken

[2020-01-02 10:44] krzaczek commented on #89
Yep it works more **2321**002342672**11**42 % 97 = 1 - so it's correct. Now I just need to find a way to distinguish old numbers from the new one's so that both validate ;)

[2020-01-02 11:33] Smitsel commented on #89
If they can't be differentiated you could do it by doing this check when the first one fails.
So in a failover kind of way.

[2020-01-02 11:33] Smitsel commented on #89
We can totally review your PR once you have something too btw.

[2020-01-02 11:40] krzaczek commented on #89
That's my plan . I will validate the TIN against both algo. If the first one fails -> will try the new one

[2020-01-02 13:56] krzaczek opened #91 "Enable tests for PHP 7.4 in .travis.yml"

[2020-01-02 14:11] krzaczek commented on #89
Waiting for code review ....

[2020-01-02 14:20] Smitsel commented on #89
Awesome, i left some not super important comments. It works as intended, i've tried it out in our fork.

[2020-01-02 17:26] DragonBe commented on #89
Sorry being late at the game, this holiday time is for me the only time I can truly spend with my family in full. But now when they're off playing games themselves, I can have a look at this.

[2020-01-02 18:32] krzaczek commented on #89
@Smitsel should be fine one. I did add a regex expression to check i the number has only valid characters before calculating checksum [0-9A-Z=*]. This way it should be safer. In the older version there was a small % of chance that a number with an invalid char would validate :) It would then error on VIES but still :)

[2020-01-02 19:40] #89 closed

[2020-01-02 20:10] #91 closed

[2020-01-03 08:01] Smitsel commented on #89
Many thanks for the fast fix! 🥇

[2020-01-03 09:05] DragonBe opened #93 "Invalidate old Dutch OB numbers in favour of new VAT ID as of 2020"
Since January 1, 2020 self employed people in the Netherlands received a new VAT identification number as replacement for their older number which contained their social security number (BSN).

In release 2.1.10 we made changes to allow this new number to be validated, but we left out the invalidation of the old number as it now is called "omzetbelastingnummer" or OB number.

On [kleineondernemer.

[2020-01-03 09:34] krzaczek commented on #93
Well we actually can't. The old numbers user the same algo as VAT commercial numbers. We still need to validate the old method otherwise a VAT number of a  hotel would not pass a checksum validation.

NL824155890B08 - this is a random VAT number of a hotel in Amsterdam. It uses the same MOD 11 method to calculate a checksum as old OB numbers.

From what i've read there is no way to say if the spec

[2020-01-03 17:00] DragonBe commented on #93
If we cannot make the distinction we cannot prevent people from validating a now invalid VAT ID (OB number) against the VIES service where it will be marked as invalid.

Guess we should mention in our documentation that we cannot make the distinction on our end and the only way to actually validate Dutch VAT ID's is by using the VIES service through our library.

What a pitty, but we can only do s

[2020-01-03 17:34] jrfnl commented on #93
That sounds about right.

Also: I just ran a little test with my own VAT numbers with the [VIES service](http://ec.europa.eu/taxation_customs/vies/) which I presume you are using as an end-point and it correctly validates the new number and marks the old number as invalid.

**However**, this also means that for people who don't do their accounting on a daily basis and retroactively need to check a

[2020-01-04 12:21] DragonBe commented on #93
That sounds about correct @jrfnl. This VIES library pre-validates VAT ID's before they are send to the official VIES service provided by the European Commission. It allows people to perform their required validation checks for their suppliers and clients and offers a way to do this offline because the official service is known to have stability and uptime issues.

I feel that by not having the abi

[2020-01-04 12:21] #93 closed

[2020-01-04 12:58] jrfnl commented on #93
@DragonBe Sorry I couldn't be of more help or offer a solution. If I hear of anything which could help I'll post it here.

[2020-01-04 13:01] jrfnl commented on #93
Regarding this: as far as I know everyone whose VAT number has changed got a letter about this already some two months ago with the new number. This was done explicitly to allow them to their (pre-printed) paperwork sorted before January 1st, as well as inform their regular suppliers.

[2020-01-04 13:08] krzaczek commented on #86
@Seldaek Could You fix the PHPCS errors so we could merge it and release it

[2020-01-07 09:38] DragonBe commented on #86
Closing this issue as PR #87 is now integrated in master code and will be released soon.

[2020-01-07 09:38] #86 closed

[2020-01-14 13:18] sophiekuehn opened #95 "ValidatorFI::validate returns false for valid FI VAT number"
ValidatorFI::validate returns false for valid FI VAT number
FI 01089940

Valid according to http://ec.europa.eu/taxation_customs/vies/vatResponse.html

[2020-01-14 13:43] krzaczek commented on #95
@sophiekuehn i'll look at it in the evening

[2020-01-14 14:25] jbrinksmeier commented on #95
hi @krzaczek  co-worker of sophie here. I had a quick look already and stumbled across ValidatorFI rules

I read it like R=11 AND C8=0 is a valid VAT for Finland, but the code does not reflect this but only the last case ELSE C8 = R
At least that's how I read
`return 11 - ($checkval % 11) == (int) $vatNumber[7];`
If yo agree I can prepare a PR for this.
Thanks for your efforts :)

[2020-01-14 14:49] krzaczek commented on #95
Feel free to make a PR. I’ll look at it in the evening

pawel (at) mobile

[2020-01-23 12:35] jellyNoone opened #97 "Vat ID no longer valid"
Hi,
your testing Vat id for SI 15012557 is invalid.

[2020-01-23 12:43] krzaczek commented on #97
Hi,

Well that's true it's not valid according to VIES, but we only use it to verify if the algorithm to check the checksum is correct. So the number `SI15012557` is still checksum valid even if VIES says it's not "active"

[2020-01-23 13:04] jellyNoone commented on #97
Oh ok,
thanks for clarifying.

[2020-01-23 13:04] #97 closed

[2020-02-03 06:29] jonathanmaron opened #98 "Remove Validation of VAT Numbers from Great Britain"
Following [Brexit](https://www.bbc.com/news/world-europe-51307874) on January 31, 2020 (23:00 London time), Great Britain is no longer part of the European Union. Consequently, this component no longer needs to validate VAT numbers from Great Britain.

[2020-02-10 20:23] ShinJii89 commented on #98
But it's in VIES until end of 2020 or 2024 (I don't remember).

[2020-02-11 09:47] cottton commented on #98
I read until end of 2020 nothing changes vat vise.

Source: https://www.heise.de/newsticker/meldung/Keine-Partystimmung-zum-Brexit-Gefahr-eines-No-Deals-nicht-gebannt-4650605.html?seite=2

[2020-02-11 12:47] DragonBe commented on #98
What we can do is start marking the usage of the "GB" validator as `@deprecated` but I wouldn't jump ship yet by removing it completely from the codebase.

Thoughts and ideas about this please.

[2020-02-11 13:07] DragonBe commented on #95
Fixed in #96 and tagged as [release 2.1.11](https://github.com/DragonBe/vies/releases/tag/2.1.11). Closing this issue now.

[2020-02-11 13:07] #95 closed

[2020-02-14 12:33] drupol commented on #78
We can use [PSR-18](https://www.php-fig.org/psr/psr-18/) for abstracting the HTTP client !

[2020-02-14 14:14] DragonBe commented on #78
Hey @drupol,

I've done it already in my other library [dragonbe/hibp](https://github.com/DragonBe/hibp), but never got around to implement it here. Do you think you have some time to look into this?

[2020-02-14 14:18] drupol commented on #78
I personnaly don't need the feature but I can help doing it for sure :-) I'll see if I can give it a try this weekend!

[2020-02-14 14:33] drupol commented on #78
Here's a first shot: https://gist.github.com/drupol/8e541083763b0f5a4b6d816684f0e0d0

As you can see, you pass the HTTP client in the constructor, and it can be configured at will by the user (proxy, etc etc).

Let me know what you think.

[2020-03-05 14:20] Seldaek commented on #98
I don't think anything needs to change for now, or if anything it should be within an `if (date('Ym') >= '202101') { ... }`, but we'll probably know more about this later in the year.

[2020-03-17 12:06] robmeek opened #99 "Optional Argument Validation Fails for non-latin characters"
The addOptionalArguments method throws an InvalidArgumentException if an argument contains exclusively non-ascii characters.

e.g. if the traderName is `ΕΛΛΑΣ`

– note that the E and the A are Greek, and not Latin, unicode characters here. For test purposes something like `Äß` also throws the exception.

The filterArgument strips away all greek letters (and accented characters such as ä and é). In

[2020-03-19 11:07] robmeek commented on #99
I wonder whether this library should be validating or filtering input to the API at all.

[2020-03-21 21:46] DragonBe commented on #99
Hello @robmeek,

I tested the hypothesis you provided here where I have the following data set for testing

[code]

I've modified the `filterArgument` method in such a way it no longer strips out non-Latin characters by using `FILTER_FLAG_STRIP_LOW`.

[code]

And modified the validation regex for `validateArgument` as you suggested, but a bit different so I can support more unicode languages using

[2020-03-22 10:22] robmeek commented on #99
@DragonBe Yes, that looks good to me.
Thanks for looking into this so promptly!

[2020-03-22 12:16] DragonBe commented on #99
Awaiting a code review from @krzaczek to make sure… once approved, it will be merged in.

[2020-03-22 12:17] DragonBe commented on #98
I will close this issue for the time being, if regulations change I will reopen it and perform the necessary changes.

[2020-03-22 12:17] #98 closed

[2020-03-22 14:53] DragonBe commented on #78
Hi @BigOHenry,

I've taken a look at this and there was a major issue in the design of the heartbeat feature. In our current situation we just wanted to make sure we could "reach" the service directly.

@drupol I've taken a look at your proposed change, but at this point this library is used in projects that are not yet implementing PSR-18. I do want to rebuild it using PSR-18 in the next major ve

[2020-03-22 18:40] drupol commented on #78
Hello mate,

It's fine, no worry. Let me know if you need some help for using PSR-18.

Thanks for your feedback !

[2020-03-23 15:11] DragonBe commented on #78
Hey @drupol,

Now with the "extra" time I got due to "social distancing" and "covid-19 measures" I do have plans to work on a full upgrade of the library so we can make use of PHP 7.4 features and separating logic even further. Also a clean up of repeated logic over the various validators is in the pipeline.

More on that once I have decided on the roadmap of the project.

[2020-03-26 04:52] peter279k opened #105 "Add Docker image build CI"
As title, I think it should be nice to have the Docker image building with CI.

IMHO, I think we can use GitHub Actions or Travis CI to accomplish this issue.

@DragonBe, do you have any suggestion about this?

Once this issue is accepted, I think I would be happy to work on this :smile: .

[2020-04-16 09:25] DragonBe opened #108 "Validation of Irish VAT ID failed for valid VAT ID"
I was validating supplier VAT ID's and noticed that for Slack Technologies LTD (IE3336483DH) the validation failed while the VIES service confirms it's a valid VAT ID.

![image](https://user-images.githubusercontent.com/282825/79439036-a5391f80-7fd4-11ea-8c61-ce3928933223.png)

Looks like there's a failure in validating Irish VAT ID's

[2020-04-16 09:44] DragonBe commented on #108
@peter279k and @krzaczek any ideas before I dig into this issue?

[2020-04-16 09:58] krzaczek commented on #108
Ill take a look at in later today.

P.

[2020-04-16 11:37] peter279k commented on #108
I add this test case on [ValidatorIETest::vatNumberProvider()](https://github.com/DragonBe/vies/blob/master/tests/Vies/Validator/ValidatorIETest.php).

These code snippets are as follows:

[code]

It will be passed on PHPUnit test.

[2020-04-16 12:10] krzaczek commented on #108
@peter279k what version of library are You using. ?

I did try the number on the latest master branch and it seems to work ok.

[code]
[code]

[2020-04-16 12:27] krzaczek commented on #108
I did tests back to 2.1.0 versions and 2.0.4 and it always passes as valid.

[2020-04-16 15:34] peter279k commented on #108
@krzaczek, thanks for your reply and report.

It looks weird.

I remove `vendor` folder and `composer.lock` and run `composer install`.

Then running `php vendor/bin/phpunit ` again, it's worked successfully now.

[2020-04-25 16:26] DragonBe commented on #108
Sorry for the wait, but seem to hit a brick wall here.

I've done a clean checkout from "git@github.com:DragonBe/vies.git", added the VAT ID "3336483DH" to the tests for `ValidatorIETest` and ran PHPUnit. Now all tests seem to pass.

[code]

[code]

[code]

Guess I've got some giberish in my codebase 🤦

[2020-04-25 16:26] #108 closed

[2020-04-25 18:15] DragonBe commented on #105
Question I have is: what would you do with the container?

Option 1: run phpunit in the container
Option 2: run a web app for validating one or more VAT ID's (asynchronously)

For option 1 I run the following command to execute it with the latest PHP 7.4 stack

[code]

This is what I also use in my internal Jenkins pipeline to ensure all is working, even in a clean environment.

For option 2, I al

[2020-04-25 22:14] DragonBe commented on #83
@krzaczek @Seldaek I've tested it locally and also by adding functionality to access the test integration service of VIES (see #109), but even for all countries I get no issues accessing them during "unavailable" time mentioned at the [VIES help page](http://ec.europa.eu/taxation_customs/vies/help.html). So, my guess is that at this point we need to monitor the downtime of a backend service to see

[2020-04-26 15:44] peter279k commented on #105
@DragonBe, thanks for your reply.

Option 1: This may have some descriptions on `README` to let developers know how to run unit tests for this project with PHPUnit.

Option 2: Yes. It may be convenient and easy for developers to run `vies-web` with Docker container everywhere.

[2020-05-26 12:43] fidelo-software commented on #99
@DragonBe can you please add "+" to the white list too?

`/^[a-zA-Z0-9\s\.\-,\pL\+]+$/U`

Example of a valid company name in the VIES database: ACME GmbH + Co. KG

Thanks a lot!

[2020-05-27 11:01] fidelo-software commented on #99
I just discovered, that parentheses need to be allowed too. Maybe it is better to remove this filter as @robmeek already suggested. I can see no need for it.
Thanks!

[2020-05-27 13:50] DragonBe commented on #99
I'm not really a fan of allowing all sorts of entries to go in to prevent malicious code to be executed. Given the feedback up to this point, what I might do instead is allowing all characters except those I consider harmful by using `[htmlspecialchars](https://www.php.net/manual/en/function.htmlspecialchars.php)`.

[2020-05-27 13:58] fidelo-software commented on #99
Thanks for your feedback.
I'm afraid that is not enough either, because ampersand (definitely) and double quotation marks (maybe) are regular characters in company names.

[2020-05-27 14:02] DragonBe commented on #99
I was just reviewing the code bit again and there are two steps in the validation process:
1. filtering input
2. validating input

I could add the `htmlspecialchars` bit to the filtering process, but validation remains a critical step to consider. I'm running a couple of test scenarios now to figure out a good whitelist/blacklist approach as I don't want to forfeit on validation of input.

[2020-05-27 14:52] DragonBe commented on #99
Hmm, up to this point I have most of the issues cleared, except for the ampesant issue.

Test case: `VAN AERDE & PARTNERS`
Filter returns: `VAN AERDE &#38; PARTNERS`
Input Validation succeeds
VIES Validation fails -> because `&#38;` does not match `&` 😕

[2020-05-27 15:20] DragonBe commented on #99
Double checked the SoapCall result:

[code]

Looks to me like the validation is ok, but the filtering should not filter the special characters

[2020-05-27 18:23] DragonBe commented on #99
OK, in 7ef8962 I was able to improve the filtering with additonal test cases and was even able to remove a potential security risk.

@fidelo-software can you have a look at it to see if your use cases are now covered? If not, please add some examples here in the thread or immediately to the test data provider.

[2020-05-27 18:41] fidelo-software commented on #99
Thank you for responding so quickly!
I tested 7ef8962 and it works fine with our company names, but I have an address which is not working yet:

Speak & Fun España SL
C/ Asunción 80, 8ºB Valid
41011 SEVILLA
Espana
ESB91648113

[2020-05-27 19:08] DragonBe commented on #99
Correct, abbreviations in Spanish are often marked with a `/` which cannot be filtered out if we want to validate against VIES because Spain requires full trader details for validation purposes.

I know it's a bit annoying, but until I find a permanent solution I think I need to take it case by case. I've adjusted the validation rule in b971690.

[2020-05-27 20:55] #99 closed

[2020-05-27 21:02] #64 closed

[2020-06-15 11:39] DragonBe opened #113 "Making VIES package more inclusive"
The technology industry is progressing towards a more inclusive society with many leading initiatives, including GitHub, taking steps to remove non-inclusive terminology from their operations. As an open source contributor having an open source project, I want to take up my responsibility and join the efforts.

Therefor I will take steps to make this project welcoming to many. I'm thinking about t

[2020-10-20 08:32] fabianwelzer opened #114 "Missing BG checksum validation for foreign natual persons"
There is another [checksum algorithm for foreign persons in Bulgaria](https://github.com/yolk/valvat/blob/master/lib/valvat/checksum/bg.rb).
The lack of this algorithm leads to the false validation of VAT numbers from foreign persons in Bulgaria.

[2020-10-28 21:12] #114 closed

[2020-11-14 16:12] blaaat commented on #98
I believe the transition period can't be extended anymore. So UK is leaving the VAT territory on dec 31th.

The date check on `listEuropeanCountries()` sounds perfect.

[2020-11-14 16:22] blaaat opened #120 "VIES_EU_COUNTRY_LIST Visibility"
`VIES_EU_COUNTRY_LIST `is a protected const, but all other code is using `self::VIES_EU_COUNTRY_LIST`.

the protected visibility gives the illusion you can extend the class and for example remove UK (#98 ), but this wouldn't work.

VIES_EU_COUNTRY_LIST should either be private or beter; other methods should use: `static::VIES_EU_COUNTRY_LIST`

[2020-11-15 20:44] DragonBe opened #122 "Package upgrade to composer 2.0"
Ensure this composer package can be developed on with Composer 2.0

See [UPGRADE-2.0](https://github.com/composer/composer/blob/master/UPGRADE-2.0.md) for details.

[2020-11-15 20:46] DragonBe opened #123 "Ensure this package can be installed with Composer 2.0"
Ensure this package can be installed in an existing project using Composer 2.0

More details can be found in [UPGRADE-2.0](https://github.com/composer/composer/blob/master/UPGRADE-2.0.md).

[2020-11-20 14:56] johanwilfer opened #125 "Implementing a Symfony constraint based on this library"
We have been using this great library for a while now, and I have begun to extract some code we have in a few classes for this to something more generic and useful. Today we are using Symfony and a callback validator, but I am extracting it into a separate class like described here: https://symfony.com/doc/current/validation/custom_constraint.html

Would a PR be welcome with this functionality? An

[2021-01-05 09:04] jonathanmaron opened #126 "Remove support for the United Kingdom ("GB")"
Source: https://ec.europa.eu/taxation_customs/uk_withdrawal_en

We therefore should remove support for the United Kingdom.

[2021-01-05 09:05] jonathanmaron opened #127 "Add support for United Kingdom (Northern Ireland) ("GB-NIR")"
Source: https://ec.europa.eu/taxation_customs/uk_withdrawal_en

We therefore should add support for the "United Kingdom (Northern Ireland)".

Since the new XI VAT numbers for Northern Ireland businesses are just like the GB VAT numbers, we should be able to re-purpose the current GB validator:

Source (and other details): https://www.avalara.com/vatlive/en/vat-news/brexit-northern-ireland-vat-and-

[2021-01-05 09:13] DragonBe commented on #127
Yes @jonathanmaron, you're absolutely correct. I suggest that before we remove UK completely (#126) we should first look at integrating Northern Ireland correctly.

What I'm missing in the documentation up to this point are the structure definition and which calculation method is being used to verify if this new VAT ID is formatted correctly. Do you have some details about that?

[2021-01-05 09:14] DragonBe commented on #126
As mentioned in #127 I would like to implement the Nothern Ireland structures first before removing the UK completely from this library.

[2021-01-05 09:18] jonathanmaron commented on #127
I would agree with you to add "United Kingdom (Northern Ireland)" before we remove "United Kingdom".

The only documentation that I found on the structure of the new XI VAT numbers is at:

https://www.avalara.com/vatlive/en/vat-news/brexit-northern-ireland-vat-and-eoro--xi--number.html

According to that, we can simply re-purpose the current "United Kingdom" validator.

[2021-01-05 09:22] DragonBe commented on #127
Yes, this can be done. Do you want to replicate the UK validator for Northern Ireland @jonathanmaron, including the tests?

[2021-01-05 09:36] jonathanmaron commented on #127
It would be my pleasure to implement the require classes.

[2021-01-05 10:38] jonathanmaron commented on #127
And done. See pull request https://github.com/DragonBe/vies/pull/128

[2021-01-05 10:41] jonathanmaron commented on #127
If you search for some town names in Northern Ireland in the "Enter company name" text entry box at http://www.vat-check.co.uk you can find some real VAT numbers belonging to Northern Ireland businesses. Simply replace "GB" with "XI" for test purposes.

[2021-01-05 16:10] DragonBe commented on #127
Merged #128 after updating GitHub Action to test against PHP 7.4 as some components are not yet ready for PHP 8 unfortunately.

[2021-01-05 16:10] #127 closed

[2021-01-06 08:18] DragonBe commented on #126
Question: is removing support of the UK a BC break for which I need to release a new major version 3.0.0, or do I accept it as normal progression and tag it as a 2.2.0 or a 2.1.15 release?

[2021-01-06 08:24] jonathanmaron commented on #126
Since we are removing a class, that is absolutely a breaking change and requires a new major version.

Source: https://semver.org/

Removing a class is an "incompatible API change".

[2021-01-06 16:16] DragonBe commented on #126
@jonathanmaron that's exactly what I was thinking too, but bear with me when I play devil's advocate.

Keeping UK in the current code base can be considered a bug since Brexit and has to be fixed. The validation routines are not impacted nor is there a change in API signatures, the only thing that happens is a removal of a configuration that now allows validation of Brittish VAT ID's and with them

[2021-01-06 16:26] DragonBe commented on #126
Added Polls on
- Twitter: https://twitter.com/dragonbe/status/1346854470366461954?s=21
- LinkedIn: https://www.linkedin.com/feed/update/urn:li:activity:6752620980163624961/

[2021-01-06 16:42] michael-bud commented on #126
I'd say it's major, as VAT is still applicable inside the UK same as before (if you're a UK entity using this would be a significant breaking change), and VAT is still to be paid on products purchased & being imported to the UK from the EU.

[2021-01-06 16:46] michaelcullum commented on #126
I'd say it's major, as VAT is still applicable inside the UK same as before (if you're a UK entity using this would be a significant breaking change), and VAT is still to be paid on products purchased & being imported to the UK from the EU.

I'd say the ideal would be introducing an extra option that would make the UK fail, thereby giving users the option for if they see it as a bug for their use-

[2021-01-06 18:12] DragonBe commented on #126
Instead of removing support for the UK, we could continue to support all users there by providing an additional call to the service provided by [Gov.uk](https://developer.service.hmrc.gov.uk/api-documentation/docs/api/service/vat-registered-companies-api/1.0) as [suggested by Derick](https://twitter.com/derickr/status/1346865336625344513?s=21). This service is still in beta though.

[2021-01-06 18:16] cooperaj commented on #126
I work for a gov agency with public facing sites. Beta may mean changes in the future but (by our standards at least) would mean the service is here to stay.

[2021-01-06 18:26] DragonBe commented on #126
@cooperaj Do you also know how long it takes before a "beta" state becomes stable with the UK.gov services (on average)?

[2021-01-06 18:34] cooperaj commented on #126
Unsure unfortunately. My current project has been public beta for 4 months so somewhere between that and perpetual a web 2.0 forever. The api linked by Derick has been around in some form or other since January 2018.

[2021-01-06 19:44] DragonBe commented on #126
No worries @cooperaj, I will need to fully investigate if and how I can integrate this service.

[2021-01-07 04:52] jonathanmaron commented on #126
The original scope of `DragonBe\Vies\Vies` is defined as:

Since the VIES web service no longer provides validation for the United Kingdom, I do not think that we should support validation for the United Kingdom in the component.

Why should the United Kingdom be treated differently from all other non-EU countries that have VAT numbers? There are many. See the second and third table at: https://en

[2021-01-12 12:33] DragonBe commented on #126
As I'm investigating options for the UK, I should really think about a more modular approach for this package where non-European validation services could be added as an external plugin maintained by others rather than it is build-in.

In regards to the whole UK issue, I don't want to remove the logic just yet except I won't submit the request against the EC VIES service any longer as there it wil

[2021-01-12 13:37] #78 closed

[2021-01-12 13:37] #83 closed

[2021-01-12 18:50] DragonBe commented on #105
Added a stand-alone container in #131

[2021-01-12 18:50] #105 closed

[2021-01-12 20:16] DragonBe commented on #120
Not going to make them static

[2021-01-12 20:16] #120 closed

[2021-01-12 20:22] DragonBe commented on #126
@jonathanmaron I know this is not a solution to still provide VAT validation services for UK VAT ID's, but have a look at #132 as I believe this is an elegant transition for the time being.

[2021-01-21 13:55] Freeaqingme commented on #126
I think the fact that Vies::listEuropeanCountries() still returns 'GB' should be considered a bug as of this year. The rest, I'm not sure.

[2021-01-25 13:13] arsen-s opened #134 "Support php8"
Ensure this package can support php8

[2021-02-15 17:07] sunkaflek opened #136 "Validation failed for valid VAT numbers"
Hi,
I encountered several cases, where the library returns false negatives (invalid vat while VIES web service returns valid):

FR45497709824
NL001439542B97

Am I doing anything wrong?

Thank you

<img width="329" alt="Screenshot 2021-02-15 at 18 05 00" src="https://user-images.githubusercontent.com/12460995/107975546-8f133b80-6fb8-11eb-8277-5dc672cba772.png">
<img width="400" alt="Screenshot 2021

[2021-02-17 15:16] wernerwa opened #137 "32 Bit Support"
FR's, NL's and SK's VATIN validations fail on 32 bit platform.
Is this project going to support the x32 ABI or the i386 ABI?

[2021-03-24 11:54] nils-m commented on #136
It is probably the Vies::validateVatSum() method that return false negatives.
Either bypass DragonBe Vies for those numbers or just comment *if (!$this->validateVatSum($countryCode, $vatNumber)) {.....}* statement in the vendor ... Yes it's very ugly but this error is very annoying.

[2021-04-02 17:16] gregsmirnov-av opened #139 "The service moved to SSL endpoint."
Heartbeat reports that the service is not alive, because new response is returned:
[code]

[2021-04-03 15:57] Glen-Somom commented on #139
Same for us. VAT numbers can be validated on the VIES website

[2021-04-03 19:25] #139 closed

[2021-04-03 19:54] DragonBe commented on #125
As mentioned in the [README](../README.md), there is already a Symfony bundle available. See [MyOnlineStore ViesBundle](https://github.com/MyOnlineStore/ViesBundle).

[2021-04-03 19:55] DragonBe commented on #137
Solved in e081381

[2021-04-03 19:55] #137 closed

[2021-04-03 19:57] DragonBe commented on #126
I think it's safe to now make the UK validation a failure as solved in 03231df

[2021-04-03 19:57] #126 closed

[2021-04-03 20:22] #123 closed

[2021-04-03 20:22] #122 closed

[2021-04-06 10:12] johanwilfer commented on #125
Ah, I missed that. Thanks! Will close this and make a PR for that library instead then.

[2021-04-06 10:12] #125 closed

[2021-06-29 17:20] cottton opened #143 "::listEuropeanCountries() should use ::VIES_EXCLUDED_COUNTRY_CODES"
_Affects code in master, not in current 2.2.0_

Method `listEuropeanCountries` returns a key value array for eu countries.

As i saw you added a new const `VIES_EXCLUDED_COUNTRY_CODES` to exclude country iso `GB`.

This const should be used to exclude f.e. `GB` in the `listEuropeanCountries` method.

See https://github.com/DragonBe/vies/blob/master/src/Vies/Vies.php#L420

[2021-06-30 11:25] cottton commented on #57
_Old but still_

GR <-> EL

As i read: GR is a country iso,
and EL is a VAT prefix.

`VIES_EU_COUNTRY_LIST` contains country iso as keys.
So `'EL' => ['name' => 'Greece', 'validator' => Validator\ValidatorEL::class],` is actually a bad choice.

We may should change that in next major release to GR
_(may add additional row with GR inthe current lastest version)_,
to keep the keys as country iso onl

[2021-12-11 20:33] drupol commented on #136
Hey hi !

I'm also having the same behavior in [loophp/tin](https://github.com/loophp/tin)... going to investigate.

You can see the live result on this app:

* https://vat-check.herokuapp.com/api/FR45497709824
* https://vat-check.herokuapp.com/api/NL001439542B97

[2021-12-21 09:35] krzaczek commented on #136
@sunkaflek I can't reproduce this bug. What version of library are You using ?

[code]

Response:
[code]

returns `true`

[2021-12-21 09:39] #134 closed

[2021-12-21 10:19] sunkaflek commented on #136
@krzaczek Ah ok, this seems to be the problem. I have now tested installing latest release using _composer require dragonbe/vies_ (that installs 2.2.0). This version **does** have the bug I mentioned above.

But if I download the latest zipped code directly from github and use that way, the bug is gone. So I guess it has been fixed in some commit after 2.2.0 but has not been released as a new vers

[2021-12-21 10:22] krzaczek commented on #136
@sunkaflek Yes You are right. I will look into changes on the master branch, and will do my best to make a patch release today with the fix.

[2021-12-21 10:26] krzaczek commented on #136
@sunkaflek the only change I see is a fix for 32 bit architectures and this was done in a both NL andFR validator here. What platform are You haveing issues on ?

https://github.com/DragonBe/vies/commit/7b10c4cffa5028c75e3404febd57b5789a1239b4

[2021-12-21 10:32] sunkaflek commented on #136
@krzaczek It is 32bit PHP 7.4.4 so sounds like this could be it

[2021-12-21 10:37] krzaczek commented on #136
@sunkaflek i'm upgrading the code to support PHP 8.1. When this is done there will be a new 2.3.0 release - hopefully today

[2021-12-27 17:45] krzaczek commented on #136
@sunkaflek sorry for the delay. This has been released in 2.3.0

[2021-12-27 17:45] #136 closed

[2022-02-25 15:55] AleksanderGladkov commented on #89
Found this page in google, thanks to all participants for the information.
To those who also gets to this page, here is my version of this algorithm in C#. The simple conversion of VAT number to integer can cause overflow error, because the maximum length of converted VAT number is 26, while the max length of ulong type in C# is 20. Therefore I write converted VAT number to a string first and then

[2022-04-21 12:19] cheagerty-ledger opened #146 "ValidatorLV results inconsistent with official EU validation"
When I try to validate the VAT code LV 12016718008, the code returns the result of invalid.

When I check the same number on the European Commission website (https://ec.europa.eu/taxation_customs/vies/vieshome.do) it is in fact valid.

ValidatorLV.php checks if the first digit is greater than 3, and returns false otherwise (which is the case here). I propose to remove this condition, which seems t